name: ci
on:
  push:
    branches:
      - master
      - main
permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0        # needed so mkdocs can push back
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - name: Configure Git user
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
      - name: Cache MkDocs
        uses: actions/cache@v4
        with:
          key: ${{ github.ref }}
          path: .cache
      - name: Install dependencies
        run: |
          pip install mkdocs-material
          pip install pillow cairosvg
      - name: Deploy with MkDocs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: mkdocs gh-deploy --force